{% load i18n %}<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Topf Secret: Bitte bestätigen Sie Ihre Teilnahme</title>
</head>
<body>
<div>

<h2>Hallo {{ name }},</h2>

<p>danke, dass Sie eine Anfrage über das Projekt „Topf Secret“ von foodwatch und FragDenStaat gestellt haben!<br/>
Um Ihre Anfrage abzusenden, klicken Sie bitte auf den folgenden Bestätigungs-Link:</p>

<p>
<br/>
<b><a href="{{ action_url }}">
Hier klicken, um E-Mail-Adresse zu bestätigen
</a></b>
<br/>
</p>

<p>
Wenn die Behörde per E-Mail antwortet, werden wir Sie darüber mit einer E-Mail informieren.
Falls Sie eine Antwort per Post bekommen, loggen Sie sich doch bitte ein und laden Sie diese hoch, damit die Information auch für andere zugänglich wird.
</p>

{% if password %}
<p>Wir haben für Sie ein zufälliges Passwort generiert. Sie können es nutzen, um sich einzuloggen und Ihre Anfragen zu bearbeiten.
<br/>Ihr Passwort ist: {{ password }}
<br/>
<br/>Wir raten Ihnen, Ihr Passwort zu ändern.
</p>{% endif %}
<br/>
<br/>
<p>
Viele Grüße<br/>
FragDenStaat und foodwatch
</p>
