{% extends base_template %}

{% load static %}
{% load sekizai_tags %}



{% block main %}
  <food-map
    id="food-component"
    leaflet-image-path="{{ leafletImagePath }}"
    :config="{{ config }}">
    <div class="text-center">
      <h3>Anwendung wird geladen</h3>
      <p>
        <img src="{% static "img/spinner.gif" %}" alt="wird geladen"/>
      </p>
    </div>
  </food-map>

{% addtoblock 'css' %}
  <link rel="stylesheet" href="{% static 'css/food.css' %}">
{% endaddtoblock %}

{% addtoblock 'js' %}
  <script src="{% static 'js/common.js' %}" charset="utf-8"></script>
  <script src="{% static 'js/food.js' %}" charset="utf-8"></script>
{% endaddtoblock %}


{% endblock %}
