{% extends base_template %}

{% load static %}
{% load sekizai_tags %}

{% block meta %}
<meta name="keywords" content="Hygienekontrolle Hygienekontrollbericht Lebensmittelüberwachung Verbraucherinformationsgesetz" />
<meta name="description" content="Topf Secret - Behörden nach Hygiene-Kontrollberichten fragen"/>

{% block additional_meta %}
{% endblock %}

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'food/icons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'food/icons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'food/icons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'food/manifest.json' %}">
<link rel="mask-icon" href="{% static 'food/icons/safari-pinned-tab.svg' %}" color="#0069d0">
<link rel="shortcut icon" href="{% static 'food/icons/favicon.ico' %}">
<meta name="msapplication-config" content="{% static 'food/icons/browserconfig.xml' %}">
<meta name="theme-color" content="#ffffff">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">

<link href="{% static 'food/icons/splashscreens/iphone5_splash.png' %}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="{% static 'food/icons/splashscreens/iphone6_splash.png' %}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="{% static 'food/icons/splashscreens/iphoneplus_splash.png' %}" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="{% static 'food/icons/splashscreens/iphonex_splash.png' %}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="{% static 'food/icons/splashscreens/iphonexr_splash.png' %}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="{% static 'food/icons/splashscreens/iphonexsmax_splash.png' %}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="{% static 'food/icons/splashscreens/ipad_splash.png' %}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="{% static 'food/icons/splashscreens/ipadpro1_splash.png' %}" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="{% static 'food/icons/splashscreens/ipadpro3_splash.png' %}" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="{% static 'food/icons/splashscreens/ipadpro2_splash.png' %}" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

{# Schema.org markup for Google+ #}
<meta itemprop="name" content="Topf Secret - Hygienekontrollen anfragen">


{# Twitter Card data #}

<meta name="twitter:site" content="@fragdenstaat">
<meta name="twitter:title" content="Topf Secret - Hygienekontrollen anfragen">
<meta name="twitter:creator" content="@fragdenstaat">
<meta name="twitter:card" content="summary">

{# Open Graph data #}
<meta property="og:title" content="Topf Secret - Hygienekontrollen anfragen" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ SITE_URL }}{{ request.get_full_path }}" />
<meta property="og:site_name" content="{{ SITE_NAME }}" />

{% endblock %}

{% block main %}
  {% csrf_token %}
  <food-map
    id="food-component"
    :config="{{ config }}"
    :request-config="{{ request_config }}"
    :request-form="{{ request_form.as_json }}"
    {% if request.user.is_authenticated %}:user-info="{{ request.user.as_json }}"{% endif %}
    :user-form="{{ user_form.as_json }}"
    >
    <div class="text-center">
      <h3>Anwendung wird geladen</h3>
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </food-map>

{% addtoblock 'css' %}
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endaddtoblock %}

{% addtoblock 'css' %}
  <link rel="stylesheet" href="{% static 'css/food.css' %}">
{% endaddtoblock %}

{% addtoblock 'js' %}
  <script src="{% static 'js/common.js' %}" charset="utf-8"></script>
{% endaddtoblock %}
{% addtoblock 'js' %}
  <script src="{% static 'js/food.js' %}" charset="utf-8"></script>
{% endaddtoblock %}


{% endblock %}
